@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 10px;
}

ol li span {
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}

select, input[type="text"], input[type="file"], button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button p {
    color: black;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

#discriptions {
    background: white;
    border-radius: 10px;
    padding: 20px;
    padding-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 40%;
}

#output {
    background: white;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#totalPayAmount {
    font-size: 18px;
    color: #555;
}

#channelList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

#channelList button {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#channelList button:hover {
    transform: scale(1.05);
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#channelList button span img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

#channelList button p {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 14px;
}

#cheeseImg {
    height: 35px;
    display: flex;
    position: absolute;
}

#totalContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

#sortUl {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#sortUl li {
    margin-right: 10px;
}

#sortUl label {
    cursor: pointer;
    font-size: 14px;
}